<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<title>Elenco Attori</title>

	<meta th:replace="fragments/resources :: head">   <!-- 	FRAMMENTI   -->
</head>

<body class="bg-success.bg-gradient">
	<div class="container">
		<nav th:replace="fragments/navbar :: navbar('attori')"></nav>
	</div>
	
	<div class="container">
	<h1>Elenco Attori</h1>
		<hr>
		<a class="btn btn-success mb-2" th:href=@{/Attori/nuovo}><i class="fa-solid fa-plus"></i> Nuovo</a>
	
		<div class="alert alert-primary" role="alert" th:if="${elenco.size()==0}">
			<h3>Nessun Attore trovato</h3>
		</div>

		<table class="table table-success table-striped" th:if="${elenco.size()>0}">
			<!-- intestazione della tabella -->
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Cognome</th>
					<th>Nazionalita</th>
					<th>Anno Di Nascita</th>
		<!-- <th>Contenuti</th> -->
					<th></th>
					<th></th>
                    <th></th>
				</tr>
			</thead>
			
			<tbody>
				
				<tr th:each="a: ${elenco}">
					<td th:text="${a.id}"></td>
					<td th:text="${a.nome}"></td>
					<td th:text="${a.cognome}"></td>
					<td th:text="${a.nazionalita}"></td>
					<td th:text="${a.annoDiNascita}"></td>
		<!-- <td ><span th:each="a: ${a.elencoContenuti}" th:text="${a.elencoContenuti.get().titolo}"></span></td> -->
					<td><a th:href="|/Attori/dettaglio/${a.id}|"><i class="fa-solid fa-eye td-button"
						title="Mostra dettaglio"></i></a></td>
					<td><a th:href="|/Attori/modifica/${a.id}|"><i class="fa-solid fa-pen-to-square td-button"
						title="Modifica"></i></a></td>
					<td><a th:href="|/Attori/elimina/${a.id}|" onclick="return confirm('Sei sicuro/a?')"><i
						class="fa-solid fa-trash td-button" title="Elimina"></i></a></td>
				</tr>
			</tbody>  
		</table>
	</div>
	<script th:replace="fragments/resources :: scripts"></script>
</body>

</html>