<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
	<title>Nuovo Attore</title>
	<meta th:replace="fragments/resources :: head">
</head>
<body>
  <div class="container">
	<nav th:replace="fragments/navbar :: navbar('attori')"></nav>	

	<h1>Nuovo attore</h1>
	<hr>	
	<form 
		id="form-attore"
		th:action="@{/Attori/nuovo}"
		th:object="${attore}"
		method="post">
		
		<div class="row">
			<div class="col-4">
				<label class="form-label" for="nome">Nome</label>
				<input type="text" class="form-control" id="nome" th:field="*{nome}">	
				
				<label class="form-label" for="cognome">Cognome</label>
				<input type="text" class="form-control" id="cognome" th:field="*{cognome}">	
				
				<label class="form-label" for="nazionalita">Nazionalita</label>
				<input type="text" class="form-control" id="nazionalita" th:field="*{nazionalita}">	
				
				<label class="form-label" for="annoDiNascita">Anno Di Nascita</label>
				<input type="text" class="form-control" id="annoDiNascita" th:field="*{annoDiNascita}">	
                
                <label class="form-label" for="immagine">Immagine</label>
				<input type="text" class="form-control" id="immagine" th:field="*{immagine}">	
				
				<label class="form-label" for="contenuto">Contenuti Girati</label>
				<!-- <select class="form-select" th:field="*{attore}" >
					<option th:each="a : ${elencoAttori}" th:value="${a.id}" th:text="|${a.nome} ${a.cognome}|"></option>
				</select>	 -->
				</select>	
			</div>	
			
		</div>
		<div class="row mt-3">
			<div class="col-2">
				<button class="btn btn-success" type="submit">Salva</button>
			</div>	
		</div>
	</form>
	
  </div>
  <script th:replace="fragments/resources :: scripts"></script>
</body>
</html>