<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org/">
<head>	
	<title>Dettaglio Regista</title>
	<meta th:replace="fragments/resources :: head">
</head>
<body>
	<div class="container">
		<nav th:replace="fragments/navbar :: navbar('registi')"></nav>	
		<div class="row">
			<h1 th:text="|${regista.nome} ${regista.cognome}|"></h1>
			<hr>
			<!-- in totale ho 12 "spazi" -->
			<div class="col-6">
			<!-- questo div occupa 8 spazi (2/3 dello schermo) -->
				<dl>
					<dt>Id</dt>
				<dd th:text="${regista.id}">
					<dt>Nazionalita</dt>
				<dd th:text="${regista.nazionalita}">
					
				</dl>
			</div>
			<div class="col-6" th:if="${regista.immagine!=null}">
			<!-- questo div occupa 4 spazi (1/3 dello schermo) -->
				<img th:if="${regista.immagine.contains('http')}" class="img-fluid" th:src="${regista.immagine}">
				<img th:if="${!regista.immagine.contains('http')}" class="img-fluid" th:src="|/img/${regista.immagine}|">
			</div>
			
			
		</div>
		
		
	</div>
	<script th:replace="fragments/resources :: scripts"></script>
</body>
</html>