<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<title>Elenco Registi</title>

	<meta th:replace="fragments/resources :: head">   <!-- 	FRAMMENTI   -->
</head>

<body class="bg-success.bg-gradient">
	<div class="container">
		<nav th:replace="fragments/navbar :: navbar('registi')"></nav>
	</div>
	
	<div class="container">
		<h1>Registi</h1>
		<a class="btn btn-success mb-2" th:href=@{/Registi/nuovo}><i class="fa-solid fa-plus"></i> Nuovo</a>
	</div>

	<div class="container text-center mt-3">
		<div class="row">
		  	<div th:each="r: ${elenco}" class="col-sm mt-3">
				<div class="card" style="width: 18rem;">
					<img th:src="|/img/${r.immagine}|" class="card-img-top" alt="...">
					<div class="card-body">
					 	 <h3 class="card-title" th:text="|${r.nome.toUpperCase()} ${r.cognome.toUpperCase}|"></h3>
					  	<p class="card-text" th:text="|${r.nazionalita}"></p>
					  	<a th:href="|/Registi/dettaglio/${r.id}|" class="btn btn-primary">Maggiori INFO</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:replace="fragments/resources :: scripts"></script>
</body>

</html>