<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<title>Elenco Contenuti</title>

	<meta th:replace="fragments/resources :: head">   <!-- 	FRAMMENTI   -->
</head>

<body class="bg-success.bg-gradient">
	<div class="container">
		<nav th:replace="fragments/navbar :: navbar('contenuti')"></nav>
	</div>
	
	<div>
	<h1>Elenco Contenuti</h1>
		<hr>
		<!-- creo la struttura della tabella prodotti -->
		<!-- la tabella verrà visualizzata solo se l'elenco dei prodotti ha una dimensione >0 -->

		<div class="alert alert-primary" role="alert" th:if="${elenco.size()==0}">
			<h3>Nessun Contenuto trovato</h3>
		</div>

		<table class="table table-success table-striped" th:if="${elenco.size()>0}">
			<!-- intestazione della tabella -->
			<thead>
				<tr>
					<th></th>
					<th>Id</th>
					<th>Titolo</th>
					<th>Regista</th>
					<th>Genere</th>
					<th>Tipologia</th>
					<th>Attori</th>
				</tr>
			</thead>
			
			<tbody>
				
				<tr th:each="c: ${elenco}">
					<td><a th:href="|/Contenuti/dettaglio/${c.id}|"><i class="fa-solid fa-film"></i></a></td>
					<td th:text="${c.id}"></td>
					<td th:text="${c.titolo}"></td>
					<td th:text="|${c.regista.nome} ${c.regista.cognome}|"></td>
					<td th:text="${c.genere}"></td>
					<td th:text="${c.tipologia}"></td>
					<td ><span th:each="a: ${c.elencoAttori}" th:text="|${a.nome} ${a.cognome}|"></span></td>
				</tr>
			</tbody>  
		</table>
	</div>
	<script th:replace="fragments/resources :: scripts"></script>
</body>

</html>