<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<title>Elenco Contenuti</title>

	<meta th:replace="fragments/resources :: head">   <!-- 	FRAMMENTI   -->
</head>

<body class="bg-success.bg-gradient">
	<div class="container">
		<nav th:replace="fragments/navbar :: navbar('contenuti')"></nav>
	</div>
	
	<div class="container">
		<h1>Elenco Contenuti</h1>
		<hr>
		<a class="btn btn-success mb-2" th:href=@{/Contenuti/nuovoContenuto}><i class="fa-solid fa-plus"></i> Nuovo</a>
			
		<div class="alert alert-primary" role="alert" th:if="${elenco.size()==0}">
			<h3>Nessun Contenuto trovato</h3>
		</div>

		<table class="table table-success table-striped" th:if="${elenco.size()>0}">
	
			<thead>
				<tr>
					<th>Id</th>
					<th>Titolo</th>
					<th>Regista</th>
					<th>Genere</th>
					<th>Tipologia</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			
			<tbody>
				
				<tr th:each="c: ${elenco}">
					<td th:text="${c.id}"></td>
					<td th:text="${c.titolo}"></td>
					<td th:text="|${c.regista.nome} ${c.regista.cognome}|"></td>
					<td th:text="${c.genere}"></td>
					<td th:text="${c.tipologia}"></td>
					<td><a th:href="|/Contenuti/dettaglio/${c.id}|"><i class="fa-solid fa-eye td-button"
						title="Mostra dettaglio"></i></a></td>
					<td><a th:href="|/Contenuti/modifica/${c.id}|"><i class="fa-solid fa-pen-to-square td-button"
						title="Modifica"></i></a></td>
					<td><a th:href="|/Contenuti/elimina/${c.id}|" onclick="return confirm('Sei sicuro/a?')"><i
						class="fa-solid fa-trash td-button" title="Elimina"></i></a></td>
				</tr>
			</tbody>  
		</table>
	</div>

	<script th:replace="fragments/resources :: scripts"></script>
</body>

</html>


