<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>NETFLIz</title>
	<meta th:replace="fragments/resources :: head">   <!-- 	FRAMMENTI   -->
</head>
<body>
	<div class="container">
		<nav th:replace="fragments/navbar :: navbar('contenuti')"></nav>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<img src="/img/logoNetfliz.png" class="img-fluid" alt="Descrizione immagine">
			</div>
			<div class="col-md-5">
				<p>
					<br><br><br>
					<h1 class="text-center display-1">NETFLIz</h1>
					<br><br><br>
					<h2 class="text-center">Benvenuto nella miglior Piattaforma Streaming di ROMA-NORD</h2>
				</p>
			</div>
		</div>
	</div>
</body>
</html>